.Title{
  text-align: center;
  font-size: 30px;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

body{
  background-color: orange;
  border: #9a631c 5px solid;
  border-radius: 30px;

}

.container_Window{
  background-color: #9a631c;
  width: 80%;
  height: 500px;
  justify-self: center;
  margin-bottom: 20px;
  border-radius: 30px;
   box-shadow: -5px 5px ;
}

#Info h3{
  text-align: center;
  font-size: 25px;
  text-decoration: underline #5d3b10;
}

#Info{
  margin: 20px;
}

#Info p{
  font-size: 18px;
}

.Form{
  margin: 20px;
}

.Form input, select{
  border-radius: 10px;
  border: 2px;
  box-shadow: -2px 2px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin: 20px;
  padding: 10px;
}
.Form label{
  font-size: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

