.Title{
  text-align: center;
  font-size: 30px;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

body{
  background-color: rgb(80, 63, 36);
  border: #9a631c 5px solid;
  border-radius: 30px;

}

.container_Window{
  background-color: #9a631c;
  width: 80%;
  height: 60%;
  justify-self: center;
  margin-bottom: 20px;
  border-radius: 30px;
  box-shadow: -5px 5px ;
}

#Info h3{
  text-align: center;
  font-size: 25px;
  text-decoration: underline #5d3b10;
}

#Info{
  margin: 20px;
}

#Info p{
  font-size: 18px;
}

.Form{
  margin: 20px;
}

.Form input, select{
  border-radius: 10px;
  border: 2px;
  box-shadow: -2px 2px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin: 5px;
  padding: 10px;
}
.Form label{
  font-size: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.Form{
  border-radius: 10px;
  border: 2px;
  box-shadow: -2px 2px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin: 15px;
  padding: 10px;
  background-color:bisque;
}

#SubButton{
  font-size: 20px;
  transition: all 0.1s ease-in-out;
}

#SubButton:hover{
  background-color: cyan;
  transform: scale(1.2)

}

.FormVresult{
  display: flex;
}

.ResultPanel{
  border-radius: 10px;
  border: 2px;
  box-shadow: -2px 2px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin: 15px;
  padding: 10px;
  background-color:bisque;
}